Invalid date-time format

# Expected Behavior
date-time fields (updatedAt,...) should respect RFC3339 section 5.6 (see https://swagger.io/docs/specification/data-models/data-types/) or ISO 8601

# Actual Behavior

Date is not formatted correctly

# Steps to Reproduce the Problem



1. `curl http://api.hub.tekton.dev/query?name=buildah&kinds=task&limit=100&match=exact`
2. look at the **updatedAt** fields
3.

# Additional Info

- UI Screenshots(if applicable)

  ```
  (Add ui screenshots here)
  ```
<!-- Any other additional information -->
